<form action="/animals/add" method="post">

  <label for="animal-name">Name</label>
    <input type="text" name="name" id="animal-name">
    
    <label for="animal-breed">Breed</label>
    <select name="breed_id" id="animal-breed">
      <% @breeds.each do |breed| %>
      <option value="<%=breed["id"]%>">
        <%=breed["breed"]%>
      </option>
      <% end #breeds.each %>
    </select>
    
  <input type="date" name="admission_date" id="animal-admission-date">

  <hr>
  
  <button type="submit">Save</button>

</form>