<form action="/customers/add" method="post">

  <label for="customer-name">Name</label>
    <input type="text" name="name" id="customer-name">

  <label for="customer-email">Email</label>
    <input type="text" name="email" id="customer-email">

  <hr>
    
  <button type="submit">Save</button>

</form>