<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td class="centered">Approved</td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><a href="/customers/<%=customer.id%>/edit"><%=customer.name%></a></td>
      <td><%=customer.email%></td>
      <td class="centered"><%='✅' if customer.approved_to_adopt%></td>
    </tr>
    <% end #customers.each %>
  </tbody>
</table>
